*
{
    padding: 0pt;
    margin: 0pt;
    box-sizing: border-box;
}
.menu-bar
{
    background: green;
    text-align: center;
}
.menu-bar ul
{
    display:inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li
{
   width: 80px;
   margin: 10px;
   padding: 10px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover
{
   background: rgb(214, 243, 156);
   border-radius: 3px;
}

.icons a{
    font-size: 1rem;
    color:grey;
    padding-left: 1rem;
  }
  .icons a:hover{
    color:var(--green);
  }
  .img
  {
      height: 30px;
      width: 30px;
  }
  .sub-menu-1
  {
      display:none;
  }
  .menu-bar ul li:hover .sub-menu-1
  {
      display: block;
      position: absolute;
      background: green;
      margin-left: 15px;
      margin-top: 15px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul{
      display: block;
      margin: 10px;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li{
      width: 150px;
      padding: 10px;
      border-bottom: 1px dotted white;
      text-align: left;
      background: transparent;
      border-radius: 0pt;
  }
  .menu-bar ul li:hover .sub-menu-1 ul li a:hover{
      color: #b2ff00;
  }
  





body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
 

  /* Full height */
  height: 200%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat:repeat-x;
  background-size: cover;
  background-attachment: fixed;
}



.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(images/banner-bg.webp) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
}

.btn
{
  border: solid rgba(128, 128, 128, 0.836) ;
  text-align: center;
  text-decoration: none;
  margin-left: 350px;
  color: grey
  
}


.table-poperty
{
  border-spacing: 100px;
}

.th-class
{
  border:orange solid 10px;
  width: 300px;
  height: 300px;
  align-content: space-around;
  border-radius: 1cm;
}

.image_in_table
{
  height: 200px;
  width: 250px;
}
.input-quantity
{
 width: 2cm;
 border: solid orange 3px;
 font-style: normal;
 color:red;
 text-align: center;
}
.btn-cart
{
  background-color: green;
  border: black solid;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  font: bold;
  height: 0.75cm;
}



.contact-us
{
  border: solid 2px grey;
  margin-left: 300px;
  border-spacing: 30px;
  padding: 0cm;
}
.contact-us th
{
  font-size: 0.5cm;
}
.contact-us th input
{
  text-align: left;
  font-size: 0.5cm;
  height: 1cm;
}
.button-contact
{
  border:red solid 3px ; 
  height: 1.5cm;
   width: 2.5cm; 
   margin-left: 650px;
    background-color: green;
     border-radius: 30px; 
     font-size: large;
}
.input-class
{
  background-color:rgb(219, 219, 219);
}


.stars
{
  background-color: orange;
}



.user-img
{
  height: 4cm;
  width: 4cm;
  border-radius: 50%;
}

.checked {
  color: orange;
}
.th-class1
{
  border:red solid 10px;
  width: 300px;
  height: 300px;
  align-content: space-around;
  border-radius: 1cm;
  background-color: wheat;
}
